@import "../../definitions";

/*******************
Info box
********************/
.info-box-container {
  margin-bottom: 10px;
}

.info-box {
  background-color: @darkgrey;
  padding: 15px;
  a {
    padding: 5px 15px 0 15px;
    font-weight: 300;
  }
}

.info-box > p {
  font-size: 12px;
  color: @white;
  padding: 5px 15px 0 15px;
}

.info-box >.date {
  font-size: 12px;
  color: @white;
  font-weight: 700;
  padding: 5px 0 0 15px;
}

.info-box > img {
  float: right;
}

/*******************
Partner
********************/
#partner {
  img {
    width: auto;
    max-height: 120px;
    display: inline;
  }
  ul {
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
  }
  .otp-partner {
    padding: 0;
    margin-bottom: 20px;
  }
  li {
    line-height: 5;
  }
}

/*******************
Footer links
********************/
.copyright-claim {
  font-weight: 900;
  li {
    display: inline-block;
  }
  ul {
    padding: 0;
    margin-bottom: 0;
  }
  a {
    color: @gray;
  }
  img {
    padding-top: 5px;
  }
}

.footer-nav {
  ul li .img-responsive {
    padding-left: 5px;
  }
  padding: 0;
  margin: 20px 15px 0;
}

/*******************
Responsivity
********************/
@media (max-width: (@screen-lg-min - 1)) {
  #partner img {
    max-height: 90px;
  }
}

@media (max-width: @screen-sm-max) {
  .statistics-box-chart {
    padding-right: 30px;
    margin: 0 15px;
  }

  .footer-nav {
    font-size: 12px;
  }

  #partner img {
    max-height: 70px;
  }

  .main {
    font-size: 12px;
  }
  .chart .headline, .projects {
    font-size: 14px;
  }
}

@media (max-width: @screen-xs-max) {
  .chart .headline {
    height: 70px;
  }

  #partner img {
    max-height: 65px;
  }
}
