/*
 * Copyright 2011-2026 The OTP authors
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

// Should hide disabled select options
.select2-container .select2-results__option[aria-disabled=true] {
  display: none;
}

// Fixed table layout to prevent column resizing
#alignmentTable, #analysisTable {
  table-layout: fixed !important;
  width: 100% !important;

  th, td {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }

  tfoot td {
    .select2-container, select { width: 100% !important; }
    .select2-selection {
      width: 100% !important;

      &__rendered {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
      }
    }
  }
}

// Alignment table column widths
#alignmentTable {
  th, td {
    &:nth-child(1) { width: 10% !important; } // Workflow
    &:nth-child(2) { width: 15% !important; } // Seq Type
    &:nth-child(3) { width: 20% !important; } // Version
    &:nth-child(4) { width: 20% !important; } // Reference Genome
    &:nth-child(5) { width: 25% !important; } // Species
    &:nth-child(6) { width: 7% !important; }  // Action buttons
  }
}

// Analysis table column widths
#analysisTable {
  th, td {
    &:nth-child(1) { width: 25% !important; } // Workflow
    &:nth-child(2) { width: 30% !important; } // Seq Type
    &:nth-child(3) { width: 30% !important; } // Version
    &:nth-child(4) { width: 7% !important; }  // Action buttons
  }
}

// Make select2 dropdowns wider than the input for smaller screens
.select2-container--open .select2-dropdown {
  min-width: max-content !important;
}

// Add padding to prevent scrollbar overlap
.select2-results__option {
  padding-right: 15px !important;
}
