### General
## Log files
logs/*
*.log
## Temporary files
*~
\#*\#
## Stale NFS handles
.nfs*

### Grails
.groovy/*
.asscache
.slcache

### Gradle
.gradle/
build/

### Third-party tools
## CodeNarc
CodeNarcReport.html
## Codertura
cobertura.ser

### IDEs
## Eclipse
.classpath
.project
.settings
.link_to_grails_plugins
target-eclipse
## IntelliJ
.idea/*
!.idea/codeStyles/
!.idea/copyright/
*.iml
*.ipr
*.iws
out

###others
## metrics file produced by bashScripts/gitlab-ci/codenarc-informations.sh
/metrics.txt
## config files for docker build
*.otp.properties
*.env
##sprint review
review/
