### General
## Log files
logs/*
*.log
## Temporary files
*~
\#*\#
## Stale NFS handles
.nfs*

### OTP
## Independent tools
tools/*/*/*/build/
tools/*/*/*/.gradle/
tools/*/*/build/
tools/*/*/.gradle/

### Grails
.groovy/*
.asscache
.slcache

### Gradle
.gradle/
build/

### Third-party tools
## CodeNarc
CodeNarcReport.html
## Codertura
cobertura.ser

### IDEs
## Eclipse
.classpath
.project
.settings
.link_to_grails_plugins
target-eclipse
## IntelliJ
.idea/*
!.idea/codeStyles/
!.idea/copyright/
*.iml
*.ipr
*.iws
out
