---
# Copyright 2011-2024 The OTP authors
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# The ci configuration to create the base image for the gitlab ci

.build-image:
  when: manual
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [ "" ]
  stage: build
  needs: []
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      changes:
        compare_to: 'refs/heads/master'
        paths:
          - ${PATH_CHECK_CHANGES}
          - .gitlab-ci-create-image.yml
  script:
    - CURRENT_DATE_TAG=$(date '+%Y-%m-%d')
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    - >-
      /kaniko/executor
      --context "${CONTEXT}/"
      --dockerfile "./Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${CURRENT_DATE_TAG}"
      --destination "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:latest"

build-base-image:
  extends: .build-image
  variables:
    IMAGE_NAME: otp-ci-java-17
    CONTEXT: "${CI_PROJECT_DIR}/docker/gitlab-ci"
    PATH_CHECK_CHANGES: docker/gitlab-ci/**/*


build-database-docker-image:
  extends: .build-image
  variables:
    IMAGE_NAME: otp-ci-integration-test-database
    CONTEXT: "${CI_PROJECT_DIR}/docker/integration-test-build-database/"
    PATH_CHECK_CHANGES: docker/integration-test-build-database/**/*
