.classpath
.project
.settings
.idea
otp.iml
otp.ipr
otp.iws
ast-build/*
target/*
target-eclipse/*
logs/*
web-app/js/i18n/*
.groovy/*
*~
*.log
CodeNarcReport.html
cobertura.ser
*.txt
*.sh
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
.nfs*
grails-app/views/templates/_version.gsp
.link_to_grails_plugins
tools/*/*/*/build/
tools/*/*/*/.gradle/

