---
# Copyright 2011-2019 The OTP authors
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# This is the entry point for gitlab ci on gitlab.com
# It includes:
# - .gitlab-ci-core.yml with default jobs
# - .gitlab-ci-merge-request.yml with merge request automation jobs
# - the template: Dependency-Scanning and License-Scanning

include:
  - local: '.gitlab-ci-core.yml'
  - local: '.gitlab-ci-merge-request.yml'
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: License-Scanning.gitlab-ci.yml

variables:
  #Default is: DS_DEFAULT_ANALYZERS: "gemnasium, gemnasium-python, gemnasium-maven, bundler-audit"`
  DS_DEFAULT_ANALYZERS: "gemnasium, gemnasium-maven, bundler-audit"
  DS_EXCLUDED_ANALYZERS: "gemnasium-python"

stages:
  - create merge request
  - scanning
  - test
  - codestyle
  - war
  - doc
  - public doc
  - update merge request

# ------------------------------------------------------
# jobs stage scanning
# ------------------------------------------------------
gemnasium-dependency_scanning:
  stage: scanning
  script:
    - /analyzer run

gemnasium-maven-dependency_scanning:
  stage: scanning
  script:
    - /analyzer run

license_scanning:
  stage: scanning
  artifacts:
    paths:
      - gl-license-scanning-report.json
    reports:
      license_scanning: gl-license-scanning-report.json

new licenses:
  image: groovy:3.0-jdk11-alpine
  stage: scanning
  needs: ["license_scanning"]
  dependencies:
    - license_scanning
  only:
    - branches
  script:
    - groovy devScripts/gitlab-ci/license-checker/findNewLicenses.groovy
