# Copyright 2011-2021 The OTP authors
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# This file can be used only together with the main composition file.
# To use it execute the following command: docker-compose -f docker-compose.yml -f docker-compose.source.yml up

version: '3.0'
services:
  otp:
    volumes:
      # the LOCAL_SOURCE_PATH has to be set in the .env file
      - $LOCAL_SOURCE_PATH/src:/home/otp/app/src
      - $LOCAL_SOURCE_PATH/grails-app:/home/otp/app/grails-app
      - $LOCAL_SOURCE_PATH/scripts:/home/otp/app/scripts
      - $LOCAL_SOURCE_PATH/docs:/home/otp/app/docs
      - $LOCAL_SOURCE_PATH/workflows:/home/otp/app/workflows
      - $LOCAL_SOURCE_PATH/migrations:/home/otp/app/migrations
      - $LOCAL_SOURCE_PATH/.otp.properties:/home/otp/app/.otp.properties
