@import "variables";

/*******************
Colors
********************/
@orange: #FD7202;
@darkorange: #CB5C02;
@darkestorange: #B14F01;
@white: #FFF;
@lightgrey: #E6E6E5;
@gray: #BBB;
@middledarkgray: #7F7F7F;
@darkgrey: #4A5964;
@almostblack: #0F0F0F;
@black: #000;
@lightblue: #85B0CE;
@blue: #005A9A; //colour of OTP logo

.transition(@prop:all, @time:.5s, @easing:linear) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}
