%{--
  - Copyright 2011-2025 The OTP authors
  -
  - Permission is hereby granted, free of charge, to any person obtaining a copy
  - of this software and associated documentation files (the "Software"), to deal
  - in the Software without restriction, including without limitation the rights
  - to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  - copies of the Software, and to permit persons to whom the Software is
  - furnished to do so, subject to the following conditions:
  -
  - The above copyright notice and this permission notice shall be included in all
  - copies or substantial portions of the Software.
  -
  - THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  - IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  - FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  - AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  - LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  - OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  - SOFTWARE.
  --}%

<div id="output-params-wrapper">
    <p>
        Please specify the output parameters of the failed Jobs.
    </p>
    <ul class="crashRecoveryDialog">
        <g:each var="parametersPerJob" in="${parametersPerJobs}">
            <li>
                <div class='jobName'>Job: ${parametersPerJob.jobName} (${parametersPerJob.id})</div>
                <g:if test="${parametersPerJob.parameter.isEmpty()}">
                    The job has no output parameter
                </g:if>
                <g:else>
                    <ul>
                        <g:each var="parameter" in="${parametersPerJob.parameter}">
                            <li>
                                <div>${parameter.name}</div>
                                <g:if test="${parameter.description}">
                                    <p>${parameter.description}</p>
                                </g:if>
                                <g:if test="${parameter.className}">
                                    <p>Parameter references domain object of type ${parameter.className}. Please enter the object id.</p>
                                </g:if>
                                <p>
                                    <input type="text" name="${parametersPerJob.id}!${parameter.id}"/>
                                </p>
                            </li>
                        </g:each>
                    </ul>
                </g:else>
            </li>
        </g:each>
    </ul>
</div>
