%{--
  - Copyright 2011-2025 The OTP authors
  -
  - Permission is hereby granted, free of charge, to any person obtaining a copy
  - of this software and associated documentation files (the "Software"), to deal
  - in the Software without restriction, including without limitation the rights
  - to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  - copies of the Software, and to permit persons to whom the Software is
  - furnished to do so, subject to the following conditions:
  -
  - The above copyright notice and this permission notice shall be included in all
  - copies or substantial portions of the Software.
  -
  - THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  - IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  - FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  - AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  - LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  - OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  - SOFTWARE.
  --}%
<html>
<head>
    <title>${g.message(code: "departmentOverview.title")}</title>
    <asset:javascript src="pages/departmentOverview/index.js"/>
</head>

<body>
<div class="container-fluid otp-main-container">
    <h1>${g.message(code: "departmentOverview.title")}</h1>
    <table id="departmentOverview" class="table table-sm table-striped">
        <thead>
            <tr>
                <th>${g.message(code: "departmentOverview.ouNumber")}</th>
                <th>${g.message(code: "departmentOverview.costCenter")}</th>
                <th>${g.message(code: "departmentOverview.departmentHead")}</th>
                <th>${g.message(code: "departmentOverview.departmentDeputies")}</th>
            </tr>
        </thead>
        <tbody>
        <g:each in="${departmentOverviewDisplayDTOs}" var="departmentOverviewDisplayDTO">
                <tr>
                    <td>${departmentOverviewDisplayDTO.ouNumber}</td>
                    <td>${departmentOverviewDisplayDTO.costCenter}</td>
                    <td>${departmentOverviewDisplayDTO.departmentHead}</td>
                    <td>${departmentOverviewDisplayDTO.departmentDeputies}</td>
                </tr>
        </g:each>
        </tbody>
    </table>
</div>
</body>
</html>
