/******************************************
* Common less classes
******************************************/
.box-shadowed (@x, @y, @radius, @color) {
       -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
            box-shadow: @arguments;
}
.box-shadowed2 (@x, @y, @blur, @radius, @color) {
       -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
            box-shadow: @arguments;
}
.no-box-shadow {
       -moz-box-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.input-error {
    .box-shadowed(0, 0, 0.5em, #ffaaaa);
}
.border-radius (@radius) {
       -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
            border-radius: @radius;
}
.image-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px;
    &:focus, &:hover {
        cursor: pointer;
    }
}
.wordBreak {
    word-wrap: break-word;
    word-break: break-all;
}
.main-background(@top, @bottom) {
    background-color: @bottom;
    background-image: -moz-linear-gradient(center top, @top, @bottom);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, @top), color-stop(1, @bottom));
    background-image: linear-gradient(top, @top, @bottom);
}

/* FONT STACK */
body,
input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 10pt;
}

/* BASE LAYOUT */

html {
    .main-background(#aaa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaa', EndColorStr = '#ddd');
    background-repeat: no-repeat;
    height: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    &.development {
        /* red background for development */
        .main-background(#f00, #f22);
    }
    &.alpha {
        /* yellow background for alpha */
        .main-background(#ff0, #fffb0e);
    }
    &.beta {
        /* blue background for beta */
        .main-background(#00f, #22f);
    }
    &.no-cssgradients {
        background-color: #aaa;
    }
    * {
        margin: 0;
    }
}

body {
    .box-shadowed(0, 0, 0.3em, #255b17);
    background: #ffffff;
    color: #333333;
    margin: 0 auto;
    max-width: 1024px;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
}

/* my styles start here */

/**
* tableBlock is used for a div with a header and a table underneath
* having the same width and belonging together.
**/
div.tableBlock {
    margin-left: 50px;
    margin-bottom: 2em;
    margin-right: 50px;
    h1 {
        .box-shadowed2(0, 0, 3px, 1px, #cccccc);
        font-weight: bold;
        background: #fafafa;
        background-image: -moz-linear-gradient(center bottom, #efefef, #ffffff);
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding: 0.3em;
        color: #333;
    }
    th {
        color: #aaaaaa;
        font-weight: bold;
        font-size: 0.8em;
        border: 0px;
        background-color: #ffffff;
        background-image: none;
    }
    td {
        ul {
            list-style-type: none;
        }
    }
}

.microHeader {
    color: #aaaaaa;
    font-weight: bold;
    font-size: 0.8;
}

.button {
    .box-shadowed2(0, 0, 3px, 1px, #cccccc);
    display: block;
    background-image: -moz-linear-gradient(center bottom, #efefef, #ffffff);
    float: right;
    border: 1px solid #cccccc;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}
/* end of my styles */


a {
    &:link, &:visited, &:hover {
        color: #48802c;
    }
    &:hover, &:active {
        outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
    }
    &.skip {
        position: absolute;
        left: -9999px;
    }
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 1.25em;
    margin: 0.8em 0em 0.3em 0.5em;
}

ul {
    padding: 0;
    &.one-to-many {
        display: inline-block;
        list-style-position: inside;
        vertical-align: top;
        li.add {
            list-style-type: none;
        }
    }
}

img {
    border: 0;
}

/* GENERAL */

.content {
    h1 {
        border-bottom: 1px solid #CCCCCC;
        margin: 0.8em 1em 0.3em;
        padding: 0 0.25em;
    }
}

.footer {
    background: #99aacc;
    color: #ffffff;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;
    margin-bottom: 3em;
    a {
        color: #255b17;
    }
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
    .box-shadowed2(0, 0, 3px, 1px, #aaaaaa);
    background-color: #efefef;
    padding: 0.5em 0.75em;
    zoom: 1;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: hidden;
    ul {
        float: left;
        padding-left: 0;
        zoom: 1;
        li {
            display: block;
            float: left;
            list-style-type: none;
            margin-right: 0.5em;
            padding: 0;
        }
    }
    a {
        color: #666666;
        display: block;
        padding: 0.25em 0.7em;
        text-decoration: none;
        .border-radius(0.3em);
        &:active, &:visited {
            color: #666666;
        }
        &:focus, &:hover {
            background-color: #999999;
            color: #ffffff;
            outline: none;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        }
        &.home, &.list, &.create {
            background-position: 0.7em center;
            background-repeat: no-repeat;
            text-indent: 25px;
        }
        &.home {
            background-image: url(../images/skin/house.png);
        }
        &.list {
            background-image: url(../images/skin/database_table.png);
        }
        &.create {
            background-image: url(../images/skin/database_add.png);
        }
    }
    p.environmentName {
        float: right;
        color: #F00;
        font-variant: small-caps;
        font-weight: bolder;
        font-size: 1.5em;
    }
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
    &.fieldcontain {
        list-style: none;
        overflow: hidden;
        zoom: 1;
    }
}

.fieldcontain {
    margin-top: 1em;
    label, &.property-label {
        color: #666666;
        text-align: right;
        width: 25%;
    }
    &.property-label {
        float: left;
    }
    &.property-value {
        display: block;
        margin-left: 27%;
    }
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    .box-shadowed(0, 0, 0.5em, #ffffff);
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    .no-box-shadow;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    padding-left: 0;
    padding-right: 0;
    legend {
        margin: 0 1em;
    }
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.5em;
}

.message {
    .box-shadowed(0, 0, 0.25em, #b2d1ff);
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    background: transparent url(../images/skin/information.png) 0 50% no-repeat;
    text-indent: 22px;
}

.errors {
    .box-shadowed(0, 0, 0.25em, #ff8888);
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
}

.errors ul,
.message {
    padding: 0;
}

.errors li, .errors p {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0 50% no-repeat;
    text-indent: 22px;
}

div.message {
    p {
        float: left;
    }
    div.close {
        float: right;
        button {
            background: transparent url(../images/close.png) 0 50% no-repeat;
            width: 16px;
            height: 16px;
            padding: 0px;
            border: 0px;
        }
    }
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    .input-error;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    .input-error;
}

/* TABLES */

table {
    border-bottom: 1px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

tr {
    border: 0;
    &.TUMOR {
        background: #f0f0ff;
    }
    &.CONTROL {
        background: #ffffff;
        border-bottom: 1px dotted #d0d0d0;
    }
    &:nth-last-child(2n) {
        background-color: #EFEFEF;
    }
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}


tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1.5em;
    padding: 0.1em 0.1em;
    text-align: left;
    vertical-align: middle;
}

th {
    @webkit-gradient: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    @moz-gradient: -moz-linear-gradient(center bottom, #efefef, #ffffff);
    background-color: #efefef;
    background-image: @moz-gradient;
    background-image: @webkit-gradient;
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
    border-top:  1px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
    white-space: nowrap;
    &.sample {
        background-image: -moz-linear-gradient(right, #ffffff, #f4f4ff);
        background-color: #ffffff;
        border-top:  1px dotted #DFDFDF;
        border-bottom: 1px dotted #DFDFDF;
    }
    a {
        display: block;
        text-decoration: none;
        &:link, &:visited {
            color: #666666;
        }
        &:hover, &:focus {
            color: #333333;
        }
    }
    &.sortable a  {
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 1.1em;
    }
    &.asc a, &.sorting_asc {
        @image: url(../images/skin/sorted_asc.gif) center right no-repeat;
        background: @image, @webkit-gradient;
        background: @image, @moz-gradient;
    }
    &.desc a, &.sorting_desc {
        @image: url(../images/skin/sorted_desc.gif) center right no-repeat;
        background: @image, @webkit-gradient;
        background: @image, @moz-gradient;
    }
}

.QA1, .QA2 {
    background: #ffffaa;
    background-image: -moz-linear-gradient(right, #ffffff, #ffffaa);
}

/* my styles for boolean values */

td {
    .background-usage-hint {
        background-repeat: no-repeat;
        text-indent: 18px;
    }
    &.false, &.INVALID {
        .background-usage-hint;
        background-image: url(images/error.png);
        color: red;
    }
    &.VALID, &.true {
        .background-usage-hint;
        background-image: url(images/ok.png);
    }
    &.UNKNOWN {
        .background-usage-hint;
        background-image: url(images/status_unknown.png);
    }
    &.tinyRow {
        line-height: 0.3em;
        background: #ffffff;
        background-image: -moz-linear-gradient(right, #ffffff, #aaaff);
    }
    &.myKey {
        width: 200px;
        text-align: right;
        font-weight: bold;
        color:  #99aacc;
        padding-right: 1em;
    }
    &.myValue {
        list-style-type: none;
    }
}

/* PAGINATION */

.pagination {
    .box-shadowed2(0, 0, 3px, 1px, #aaaaaa);
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
    background-color: #EFEFEF;
    a, &.currentStep {
        .border-radius(0.3em);
        color: #666666;
        display: inline-block;
        margin: 0 0.1em;
        padding: 0.25em 0.7em;
        text-decoration: none;
        &:hover, &:focus {
            background-color: #999999;
            color: #ffffff;
            outline: none;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        }
    }
}

/* ACTION BUTTONS */
.buttons {
    .box-shadowed2(0, 0, 3px, 1px, #aaaaaa);
    background-color: #efefef;
    overflow: hidden;
    padding: 0.3em;
    margin: 0.1em 0 0 0;
    border: none;
    input, a {
        .border-radius(0.3em);
        background-color: transparent;
        border: 0;
        color: #666666;
        cursor: pointer;
        display: inline-block;
        margin: 0 0.25em 0;
        overflow: visible;
        padding: 0.25em 0.7em;
        text-decoration: none;
        &:hover, &:focus {
            .no-box-shadow;
            background-color: #999999;
            color: #ffffff;
            outline: none;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        }
    }
    &.delete, &.edit, &.save {
        background-position: 0.7em center;
        background-repeat: no-repeat;
        text-indent: 25px;
    }
    &.delete {
        background-image: url(../images/skin/database_delete.png);
    }
    &.edit {
        background-image: url(../images/skin/database_edit.png);
    }
    &.save {
        background-image: url(../images/skin/database_save.png);
    }
}

div.edit-switch {
    p {
        input[type=text] {
            width: 400px;
        }
        &.edit-switch-label {
            button {
                .image-button;
                background-image: url(images/document-edit.png);
                float: right;
            }
        }
    }
}

div.showChangeLog {
    width: 18px;
    button {
        .image-button;
        width: 18px;
        background-image: url(images/view-journal.png);
    }
}
