/*
 * Copyright 2011-2025 The OTP authors
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

body {
    font: normal 1em Arial, sans-serif;
}

h1 {
    color: blue;
    font-variant: small-caps;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.3em 0.5em;
}

table {
    margin-left: 1em;
}

th, caption {
    background-color: #666;
    color: #fff;
    border: 1px solid #666;
}

td {
    background-image: linear-gradient(#f9f9f9, #e3e3e3);
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

tfoot {
    border-bottom: 1px solid #666;
}

caption {
    font-size: 1.5em;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em 0 0 0
}

a {
    text-decoration: none;
}
