%{--
  - Copyright 2011-2025 The OTP authors
  -
  - Permission is hereby granted, free of charge, to any person obtaining a copy
  - of this software and associated documentation files (the "Software"), to deal
  - in the Software without restriction, including without limitation the rights
  - to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  - copies of the Software, and to permit persons to whom the Software is
  - furnished to do so, subject to the following conditions:
  -
  - The above copyright notice and this permission notice shall be included in all
  - copies or substantial portions of the Software.
  -
  - THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  - IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  - FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  - AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  - LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  - OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  - SOFTWARE.
  --}%
<div class="card">
    <div class="card-header">
        <i class="bi bi-list-check"></i> <g:message code="triggerAlignment.info.header"/>
    </div>
    <div class="card-body">
        <p id="workflowTableText" class="card-text"><g:message code="triggerAlignment.info.body"/></p>
        <table id="workflowTable" class="table table-sm table-striped display table-hover table-bordered w-100">
            <thead>
            <tr>
                <th><g:message code="triggerAlignment.info.header.project"/></th>
                <th><g:message code="triggerAlignment.info.header.seqType"/></th>
                <th><g:message code="triggerAlignment.info.header.workflow"/></th>
                <th><g:message code="triggerAlignment.info.header.version"/></th>
                <th><g:message code="triggerAlignment.info.header.refGen"/></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
