%{--
  - Copyright 2011-2025 The OTP authors
  -
  - Permission is hereby granted, free of charge, to any person obtaining a copy
  - of this software and associated documentation files (the "Software"), to deal
  - in the Software without restriction, including without limitation the rights
  - to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  - copies of the Software, and to permit persons to whom the Software is
  - furnished to do so, subject to the following conditions:
  -
  - The above copyright notice and this permission notice shall be included in all
  - copies or substantial portions of the Software.
  -
  - THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  - IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  - FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  - AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  - LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  - OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  - SOFTWARE.
  --}%

<div class="accordion" id="warnAreaAccordion">
    <div class="card d-none" id="withdrawnSeqTracksWarningsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true"
                    aria-controls="collapseFive">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.withdrawnWarnings.title"/>
            </button>
        </div>

        <div id="collapseFive" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.withdrawnWarnings"/></p>
                </div>

                <table id="withdrawnWarnings" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.individual"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.sampleTypeName"/></th>
                        <th><g:message code="triggerAlignment.warn.table.effectedLaneCount"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.triggeringWontBeStarted"/></p>
            </div>
        </div>
    </div>

    <div class="card d-none" id="missingAlignmentConfigWarningsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.missingAlignmentConfig.title"/>
            </button>
        </div>

        <div id="collapseOne" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.missingAlignmentConfig"/>
                        <g:link controller="workflowSelection">${g.message(code: 'triggerAlignment.warn.config.link')}</g:link></p>
                </div>

                <table id="missingAlignmentConfigsWarnings" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.effectedLaneCount"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.triggeringWontBeStarted"/></p>

                <p class="card-text">
                    <g:message code="triggerAlignment.warn.configPageReference"/>
                    <g:link controller="workflowSelection" action="index">
                        <g:message code="triggerAlignment.warn.configPageReference.page"/>
                    </g:link>
                    <g:message code="triggerAlignment.warn.configPageReference.note"/>
                </p>
            </div>
        </div>
    </div>

    <div class="card d-none" id="missingReferenceGenomeWarningsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                    aria-controls="collapseFour">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.missingReferenceGenomeConfig.title"/>
            </button>
        </div>

        <div id="collapseFour" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.missingReferenceGenomeConfig"/>
                        <g:link controller="workflowSelection">${g.message(code: 'triggerAlignment.warn.config.link')}</g:link></p>
                </div>

                <table id="missingReferenceGenomeWarnings" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.species"/></th>
                        <th><g:message code="triggerAlignment.warn.table.effectedLaneCount"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.triggeringWontBeStarted"/></p>

                <p class="card-text">
                    <g:message code="triggerAlignment.warn.configPageReference"/>
                    <g:link controller="workflowSelection" action="index">
                        <g:message code="triggerAlignment.warn.configPageReference.page"/>
                    </g:link>
                    <g:message code="triggerAlignment.warn.configPageReference.note"/>
                </p>
            </div>
        </div>
    </div>

    <div class="card d-none" id="missingSeqPlatformGroupsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true"
                    aria-controls="collapse-1">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.missingSeqPlatformGroups.title"/>
            </button>
        </div>

        <div id="collapse-1" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.missingSeqPlatformGroups"/>
                        <g:link controller="workflowSelection">${g.message(code: 'triggerAlignment.warn.config.link')}</g:link></p>
                </div>

                <table id="missingSeqPlatformGroupsTable" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.individual"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.sampleTypeName"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqPlatforms"/></th>
                        <th><g:message code="triggerAlignment.warn.table.link"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.seqPlatform.triggeringStartsOnlyWhenSeqPlatformGroupsIgnored"/></p>
            </div>
        </div>
    </div>

    <div class="card d-none" id="seqPlatformWarningsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.mismatchedSeqPlatform.title"/>
            </button>
        </div>

        <div id="collapseTwo" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.mismatchedSeqPlatform"/>
                        <g:link controller="workflowSelection">${g.message(code: 'triggerAlignment.warn.config.link')}</g:link></p>
                </div>

                <table id="seqPlatformWarnings" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.individual"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.sampleTypeName"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqPlatformGroupSubTable"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.seqPlatform.triggeringStartsOnlyOneGroup"/></p>
            </div>
        </div>
    </div>

    <div class="card d-none" id="libraryPrepKitWarningsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.mismatchedPreparationKit.title"/>
            </button>
        </div>

        <div id="collapseThree" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.mismatchedPreparationKit"/></p>
                </div>

                <table id="libraryPrepKitWarnings" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.individual"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.sampleTypeName"/></th>
                        <th><g:message code="triggerAlignment.warn.table.libraryPreparationKitSubTable"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.libraryPrepKit.triggeringStartsOnlyOneGroup"/></p>
            </div>
        </div>
    </div>

    <div class="card d-none" id="missingLibraryPrepKitWarningsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.missingPreparationKit.title"/>
            </button>
        </div>

        <div id="collapseSix" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.missingPreparationKit"/></p>
                </div>

                <table id="missingLibraryPrepKitWarnings" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.individual"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.sampleTypeName"/></th>
                        <th><g:message code="triggerAlignment.warn.table.lane"/></th>
                        <th><g:message code="triggerAlignment.warn.table.run"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>
            </div>
        </div>
    </div>

    <div class="card d-none" id="warningsForMissingSampleTypePerProjectCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2"
                    aria-expanded="true" aria-controls="collapse-2">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.missingSampleTypePerProjectCard.title"/>
            </button>
        </div>

        <div id="collapse-2" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.missingSampleTypePerProjectCard"/>
                        <g:link controller="processingThreshold">${g.message(code: 'triggerAlignment.warn.config.link')}</g:link></p>
                </div>

                <table id="warningsForMissingSampleTypePerProject" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.sampleTypeName"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.analysisWontBeStarted"/></p>
            </div>
        </div>
    </div>

    <div class="card d-none" id="warningsForMissingProcessingThresholdsCard">
        <div class="card-header">
            <button class="btn btn-link w-100 text-left collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3"
                    aria-expanded="true" aria-controls="collapse-3">
                <i class="bi bi-exclamation-triangle"></i> <g:message code="triggerAlignment.warn.missingProcessingThresholds.title"/>
            </button>
        </div>

        <div id="collapse-3" class="collapse" data-parent="#warnAreaAccordion">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p class="card-text"><g:message code="triggerAlignment.warn.missingProcessingThresholds"/>
                        <g:link controller="processingThreshold">${g.message(code: 'triggerAlignment.warn.config.link')}</g:link></p>
                </div>

                <table id="warningsForMissingProcessingThresholds" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th><g:message code="triggerAlignment.warn.table.project"/></th>
                        <th><g:message code="triggerAlignment.warn.table.seqType"/></th>
                        <th><g:message code="triggerAlignment.warn.table.sampleTypeName"/></th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>

                <p class="card-text"><g:message code="triggerAlignment.warn.analysisWontBeStarted"/></p>
            </div>
        </div>
    </div>
</div>
