/*
 * Copyright 2011-2023 The OTP authors
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

/*
*= require /webjars/bootstrap/4.6.0/css/bootstrap.css
*= require /webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css
*= require /webjars/datatables/1.13.5/css/dataTables.bootstrap4.css
*= require /webjars/datatables-fixedcolumns/3.2.2/css/fixedColumns.dataTables.scss
*= require /webjars/datatables-fixedheader/3.2.4/fixedHeader.dataTables.min.css
*= require /webjars/datatables-buttons/2.4.1/css/buttons.bootstrap4.css
*= require /webjars/datatables.net-scroller-bs4/css/scroller.bootstrap4.css
*= require /webjars/select2/4.0.13/css/select2.css
*= require /webjars/ttskch__select2-bootstrap4-theme/1.5.2/dist/select2-bootstrap4.css

*= require otp.less
*= require toaster.less
*= require banner.less
*= require ../bootstrapped.less
*/
