/*
 * Copyright 2011-2023 The OTP authors
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

/*
*= require /webjars/datatables/1.10.24/css/jquery.dataTables.css
*= require /webjars/datatables/1.10.24/css/jquery.dataTables_themeroller.css
*= require /webjars/datatables-fixedcolumns/3.0.2/css/dataTables.fixedColumns.css
*= require /webjars/datatables-fixedheader/3.2.4/fixedHeader.dataTables.min.css
*= require /webjars/datatables-buttons/1.7.0/css/buttons.dataTables.css
*= require /webjars/select2/4.0.13/css/select2.css

*= require otp.less
*= require old.less
*= require message.less
*= require banner.less
*/
