/*
 * Copyright 2011-2025 The OTP authors
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

@babyblue: #A9BCF5;
@darkblue: #81BEF7;
@otpBlack: #222;
@tableColor1: #A5D3FF;
@tableColor2: #FFF;
@tableBorderVertical: #A4C3CA;

/**
* Those are the same as in bootstraps _root.scss.
* Seems like Grails doesn't support to import them in less out of the webjars folder.
*/
@primary: #007bff;
@secondary: #6c757d;
@danger: #dc3545;
@success: #28a745;
@info: #17a2b8;
@warning: #ffc107;

// re-usable colours for errors, see also: .input-error
@errorText: #cc0000;
@errorAccent: #ffaaaa;
@errorBackground: #fff3f3;
