.body {
    position: relative;
}

/* menu */
#infoMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #777;
    text-align: center;
    vertical-align: middle;
    display: table;
    margin: 0;
    padding: 10px;
}
.infoMenuButton {
    background-color: #ddd;
    border-radius: 100%;
    float: left;
    margin-right: 1em;
    width: 9em;
    height: 6em;
    transition: all 2s ease;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: table;
}
.infoMenuButton .infoMenuButtonText {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.infoMenuButton:hover, .infoMenuButtonActive {
    background-color: #005a9a;
    color: white;
}

/* login */
#loginBox {
    position: relative;
    min-height: 105px;
    height: 10%;
    width: 382px;
    top: -5px;
    right: -10px;
    display: block;
    float: right;
    font-size: 1.2em;
    padding-right: 1px;
}

#loginButton {
    width: 100px !important;
    margin-left: 236px !important;
}

#loginForm {
    width: 360px;
    margin-top: 20px;
    margin-left: 20px;
}

#loginForm input {
    border: #777 solid 1px;
    box-shadow: 1px 1px 1px  #005a9a;
    width: 150px;
    background-color: #ddd;
    color: #000;
    margin-top: 3px;
    margin-bottom: 7px;
    margin-right: 5px;
    padding-left: 5px;
}

#loginBox a {
    color: white;
    text-decoration: none;
}

.isInvisible {
    visibility: hidden;
}

#content {
    position: absolute;
    left: 0;
    padding: 10px;
}

.plotContainer {
    float: left;
    margin-top: 20px;
    border: 25px solid #E1F1FF
}
