.errors ul,
.message {
  padding: 0;
}
.errors,
.message {
  font-size: 0.8em;
  line-height: 2;
  margin: 1em 2em;
  padding: 0.5em;
}
.message {
  background: #f3f3ff url(../images/skin/information.png) 0 50% no-repeat;
  border: 1px solid #b2d1ff;
  color: #006dba;
  padding-left: 22px;
}
.errors {
  background: #fff3f3;
  border: 1px solid #ffaaaa;
  color: #cc0000;
}
.errors li, .errors p {
  list-style: none;
  background: transparent url(../images/skin/exclamation.png) 0 50% no-repeat;
  text-indent: 22px;
}
div.message, div.errors {
  p {
    float: left;
  }
  div.close {
    float: right;
    button {
      background: transparent url(../images/close.png) 0 50% no-repeat;
      width: 16px;
      height: 16px;
      padding: 0;
      border: 0;
    }
  }
}
