/*
 * Copyright 2011-2025 The OTP authors
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

@import "../../colors";

@ongoingColor: #fff04d;
@completedColor: #5fde68;

.left-aligned {
    margin-left: initial !important;
}

ul.transfer-listing {
    list-style-type: none;
    li {
        border-left: 5px solid white;
        padding-left: 5px;
        margin-bottom: 5px;
        &.ongoing {
            border-color: @ongoingColor;
        }
        &.completed {
            border-color: @completedColor;
        }
        &.other {
            border-color: @darkblue;
        }
    }
}

.alignment-new-transfer-btn,
.alignment-add-files-btn {
    margin-bottom: 10px;
}

.collapse-title-container {
    display: flex;

    span.badge {
        height: 18px;
    }

    .ongoing-color {
        background-color: @ongoingColor;
    }

    .completed-color {
        background-color: @completedColor;
    }
}
